In [7]:
# Import dependencies
import pandas as pd
import numpy as np
import os
from dotenv import load_dotenv
import alpaca_trade_api as trade_api

In [8]:
# laod the .env variables to the notebook
load_dotenv()

True

## Part 1 - Data Collection

### Collect the historical price data using alpaca API

In [9]:
# Import the keys required to draw data from the API
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY') 
alpaca_api_key = os.getenv('ALPACA_API_KEYID')

# Create an API object
alpaca = trade_api.REST(alpaca_api_key,
                       alpaca_secret_key,
                       api_version = 'v2')

In [16]:
# Set up the start and end dates in ISO format
start = pd.Timestamp('2022-05-31', tz = 'America/New_York').isoformat()
end = pd.Timestamp('2025-05-31', tz = 'America/New_York').isoformat()

# Set the ticker
ticker = 'AAPL'

# Set the timeframe to 1 hour for the API
timeframe = '1Hour'

# Get the current closing prices of the stock
data = alpaca.get_bars(ticker,
                           timeframe,
                           start = start,
                           end = end).df

# Rename the index
data.index.rename('Date', inplace = True)

# Display data acquired
data

,close,high,low,trade_count,open,volume,vwap
Date,,,,,,,
2022-05-31 08:00:00+00:00,150.0100,151.0000,148.8900,2814,150.00,100023,149.774887
2022-05-31 09:00:00+00:00,149.0500,150.0000,148.9900,1943,150.00,71538,149.262514
2022-05-31 10:00:00+00:00,149.2300,149.3700,148.7300,1139,149.01,52145,149.007077
2022-05-31 11:00:00+00:00,149.5000,149.7800,149.1800,2972,149.25,147931,149.450164
2022-05-31 12:00:00+00:00,148.6898,150.6900,148.5900,8864,149.44,707354,149.125127
...,...,...,...,...,...,...,...
2025-05-30 19:00:00+00:00,200.6500,201.9600,199.2889,154879,199.32,15011350,200.734151
2025-05-30 20:00:00+00:00,200.6100,201.1000,200.2000,4475,200.65,29375065,200.847757
2025-05-30 21:00:00+00:00,200.6400,200.6500,200.4000,700,200.60,162112,200.508232
2025-05-30 22:00:00+00:00,200.4000,200.6500,200.4000,507,200.60,25292,200.484558
2025-05-30 23:00:00+00:00,200.2900,200.4393,200.1400,668,200.40,40399,200.260422